$spacing-small = 10px;
$spacing-default = 15px;
$spacing-large = 25px;

html,
body,
#honey-comb-documentation {
  height: 100%;
}

// Mixins used to generate the
// scaffold styles

$bubble-spacing-in-row(size) {
  padding: size size 0 size;
  > * {
    margin-right: size;
    margin-bottom: size;
  }
  &.only-stack {
    padding: 0!important;
  }
}

$capture-spacing-in-row(size) {
  > * {
    margin: size size size 0;
    &:first-child {
      margin-left: size;
    }
  }
}

$bubble-spacing-in-col(size) {
  padding: size;
  > * {
    margin-bottom: size;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.only-stack {
    padding: 0!important;
  }
}

$capture-spacing-in-col(size) {
  > * {
    margin: 0 size size size;
    &:first-child {
      margin-top: size;
    }
  }
  .ignore-spacing {
    margin: 0 0 size 0;
  }
}

.scaffold {

  display: flex;

  &.row {

    flex-flow: row;

    &.bubble-spacing-small {
      $bubble-spacing-in-row($spacing-small);
    }

    &.bubble-spacing-default {
      $bubble-spacing-in-row($spacing-default);
    }

    &.bubble-spacing-large {
      $bubble-spacing-in-row($spacing-large);
    }

    &.capture-spacing-small {
      $capture-spacing-in-row($spacing-small)
    }

    &.capture-spacing-default {
      $capture-spacing-in-row($spacing-default)
    }

    &.capture-spacing-large {
      $capture-spacing-in-row($spacing-large)
    }

    &.stretch-row {
      align-items: stretch;
      height: 100%;
    }
  }

  &.col {

    flex-flow: column;

    &.bubble-spacing-small {
      $bubble-spacing-in-col($spacing-small)
    }

    &.bubble-spacing-default {
      $bubble-spacing-in-col($spacing-default);
    }

    &.bubble-spacing-large {
      $bubble-spacing-in-col($spacing-large);
    }

    &.capture-spacing-small {
      $capture-spacing-in-col($spacing-small);
    }

    &.capture-spacing-default {
      $capture-spacing-in-col($spacing-default);
    }

    &.capture-spacing-large {
      $capture-spacing-in-col($spacing-large);
    }

    &.stretch-col {
      width: 100%;
    }
  }

  &.row,
  &.col {

    &.wrap {
      flex-wrap: wrap;
    }

    &.fill {
      flex: 1;
    }

    &.center {
      align-items: center;
    }

    &.space-between {
      justify-content: space-between;
    }

    &.dead-center {
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    &.me-center {
      align-self: center;
    }
  }
}
